header .nav {
  position: relative;
  background-color: #F7F7F7;
  box-shadow: 0px 2px 6px 2px rgba(184, 184, 184, 0.25);
}
header .nav .nav_inner_container {
  max-width: 1440px;
  padding: 12px 22px 12px 22px;
}
header .nav .nav_inner_container .logo {
  cursor: pointer;
}
header .nav .nav_inner_container .input_container {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
}
header .nav .nav_inner_container .input_container .input {
  width: 443px;
  height: 34px;
  left: 498px;
  top: 12px;
  border: 1px solid #121212;
  border-radius: 24px;
}
header .nav .nav_inner_container .input_container .search {
  position: absolute;
  right: 41px;
}
header .nav .nav_inner_container .input_container ::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #BEBEBE;
}
header .nav .nav_inner_container .input_container ::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #BEBEBE;
}
header .search_box {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #e2e2e2;
  border-radius: 15px;
  width: 400px;
  z-index: 9999 !important;
  padding: 15px;
  display: none;
  overflow-y: auto;
  max-height: 450px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
header .search_box .search_inner {
  position: relative;
  height: 400px;
}
header .search_box .search_inner .loaders {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(187, 7, 7);
}
header .search_box .search_inner .viwe_more_filter {
  position: absolute;
  bottom: 0;
  right: 0;
}
header .search_box .search_div {
  cursor: pointer;
  border-bottom: 3px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 15px;
}
header .search_box .search_div .search_name {
  margin: 0;
  font-weight: 900;
}
header .search_box .search_div .search_price {
  margin: 0;
  color: rgb(255, 89, 0);
  font-size: 15px;
  font-weight: 900;
}
header .search_box .search_div .search_img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
header .search_box .search_div:hover {
  background-color: #26f24b;
}
header .filter_container {
  position: absolute;
  top: 70%;
  left: 57%;
  transform: translate(-50%, -50%);
  z-index: 99999999;
  display: none;
}
header .filter_container .viwe_more_filter {
  color: #269DF2;
  font-size: 16px;
  cursor: pointer;
}
header .container {
  max-width: 1396px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin-top: 58px;
}
header .container .carousel {
  background: linear-gradient(92.78deg, #C39DF3 0.81%, #7F9CE7 98.52%);
  border-radius: 12px;
  width: 1396px;
  height: 316px;
}
header .container .carousel [data-bs-slide] {
  width: 46px;
  height: 46px;
  background: rgba(169, 37, 37, 0.35);
  border-radius: 8px;
  top: 63%;
  transform: translateY(-50%);
  margin: 0 28px;
}
header .container .carousel .indicator button {
  width: 23px;
  height: 23px;
  border: 2px solid #F6F6F6;
  border-radius: 50%;
  background: none;
}
header .container .carousel .indicator .active {
  border: 2px solid #269DF2;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .carousel .indicator .active::before {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #269DF2;
  display: block;
}
header .container .carousel .carousel-inner .carusel_content {
  position: relative;
  max-width: 450px;
  margin-left: 130px;
  margin-top: 50px;
}
header .container .carousel .carousel-inner .carusel_content .laptop_box {
  position: absolute;
  top: 2px;
  left: -76px;
}
header .container .carousel .carousel-inner .carusel_content .laptop_box .laptop {
  position: absolute;
  width: 594px;
  height: 297px;
  top: -73px;
  left: 451px;
}
header .container .carousel .carousel-inner .carusel_content .laptop_box .lap_1 {
  z-index: 1;
}
header .container .carousel .carousel-inner .carusel_content .laptop_box .lap_2 {
  position: absolute;
  top: -73px;
  left: 513px;
}
header .container .carousel .carousel-inner .carusel_content .laptop_box .lap_3 {
  position: absolute;
  top: -73px;
  left: 569px;
}
header .container .carousel .carousel-inner .carusel_content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #F6F6F6;
  width: 430px;
  height: 86px;
}
header .container .carousel .carousel-inner .carusel_content .viwe_all {
  background-color: #269DF2;
  padding: 12px 18px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  text-decoration: none;
  color: #f6f6f6;
  margin-top: 62px;
}
header .container .carousel .carousel-inner .carusel_content .viwe_all .left_arrow {
  width: 10px;
  height: 17px;
  margin-left: 10px;
}

.content .container {
  max-width: 1396px;
}
.content .container .product_list {
  position: relative;
  margin-top: 94px;
}
.content .container .product_list .error {
  text-align: center;
}
.content .container .product_list .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content .container .product_list .category .category_logo {
  width: 50px;
  display: none;
}
.content .container .product_list .category .category_title {
  display: none;
  font-weight: 700;
  text-transform: capitalize;
  color: #BEBEBE;
  margin-bottom: 15px;
}
.content .container .product_list .category ul .product_category:hover {
  background-color: #26f24b;
}
.content .container .product_list .category ul li {
  position: relative;
  border: 1px solid #f6f6f6;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.content .container .product_list .category ul li h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #121212;
  padding: 17px 0px 17px 12px;
}
.content .container .product_list .category ul li .category_arrow {
  position: absolute;
  right: 29px;
  top: 39%;
}
.content .container .product_list .products .product col {
  width: 288px;
  box-shadow: 0px 2px 6px 4px rgba(184, 184, 184, 0.25);
  border-radius: 12px;
  margin: 0px 10px 58px 59px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.content .container .product_list .products .product col .product_img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.content .container .product_list .products .product col:hover {
  scale: 1.1;
  box-shadow: 0px 2px 6px 1px rgba(29, 142, 129, 0.5450980392);
}

footer {
  width: 100%;
  height: 64px;
  background-color: #269DF2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order_container .title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #121212;
  padding: 20px 0;
  margin-top: 126px;
}
.order_container .order_box .head_row {
  margin: auto;
}
.order_container .order_box .head_row .order_col {
  display: flex;
  align-items: center;
  height: 193px;
  border-radius: 12px;
  border: 1px solid #F6F6F6;
  margin-bottom: 30px;
  padding: 0;
}
.order_container .order_box .head_row .order_col .order_img {
  width: 266px;
  height: 193px;
  margin-right: 29px;
  border-radius: 12px;
}
.order_container .order_box .head_row .order_col .order_name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
  margin-top: -107px;
  margin-right: 104px;
  width: 242px;
}
.order_container .order_box .head_row .order_col .order_duble {
  border: 1px solid #BEBEBE;
  border-bottom: none;
  border-top: none;
  height: 100%;
  width: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_container .order_box .head_row .order_col .order_duble .order_count {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 8px;
  margin-left: 8px;
  color: #121212;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
.order_container .order_box .head_row .order_col .order_duble .minus {
  cursor: pointer;
}
.order_container .order_box .head_row .order_col .order_duble .pluse {
  cursor: pointer;
}
.order_container .order_box .head_row .order_col .order_price {
  margin-left: 28px;
}
.order_container .order_box .head_row .order_col .order_dlt {
  margin-left: 28px;
  cursor: pointer;
}
.order_container .form_row {
  margin-top: 100px;
  border: 1px solid #F6F6F6;
  padding: 65px 76px 66px 76px;
}
.order_container .form_row .form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #BEBEBE;
}
.order_container .form_row .form-control {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #121212;
}
.order_container .order_container {
  text-align: center;
}
.order_container .order_container .order_btn {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  border-radius: 8px;
  background-color: #269DF2;
  border: none;
  width: 248px;
  height: 68px;
  margin-bottom: 238px;
}

.product_detal .container .row {
  margin-top: 68px;
}
.product_detal .container .row .col {
  margin-bottom: 126px;
}
.product_detal .container .row .col .detals_img {
  width: 594px;
  height: 573px;
  border-radius: 12px;
}
.product_detal .container .row .coll {
  position: relative;
}
.product_detal .container .row .coll .bag_box {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
.product_detal .container .row .coll .bag_box .add_bag {
  width: 282px;
  height: 57px;
  background-color: #269DF2;
  border-radius: 12px;
  border: 0;
  margin-left: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #F6F6F6;
}

.description_box {
  padding: 0 25px !important;
  margin-bottom: 125px;
}
.description_box .creation {
  display: none;
  color: red;
}
.description_box .details_btns {
  text-align: center;
  margin-bottom: -3px;
}
.description_box .details_btns .btn1 {
  width: 150px;
  height: 59px;
  border: 1px solid #269DF2;
  border-radius: 6px 6px 0px 0px;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.description_box .details_btns .det_btn {
  border-bottom-color: #F6F6F6;
}
.description_box .details_btns .rev_btn {
  background-color: #BEBEBE;
  color: #FFFFFF;
}
.description_box .description {
  width: 100%;
  height: 513px;
  border-top: 1px solid #269DF2;
  box-shadow: 0px 2px 6px 4px rgba(184, 184, 184, 0.25);
  border-radius: 12px;
  padding: 57PX 42PX;
}

.viwe_more_container {
  display: flex;
  width: 100% !important;
}
.viwe_more_container .category_container {
  width: 25%;
}
.viwe_more_container .category_container .category .category_div {
  background: #F6F6F6;
  box-shadow: 0px 0px 4px rgba(184, 184, 184, 0.25);
  border: 1px solid #F6F6F6;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
  padding: 17px 12px;
  cursor: pointer;
}
.viwe_more_container .category_container .Mybrands {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-top: 68px;
}
.viwe_more_container .category_container .Mybrands .brands {
  display: block;
}
.viwe_more_container .category_container .Mybrands .brands .mybrands_container {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.viwe_more_container .category_container .Mybrands .brands .mybrands_container .check {
  border: 2px solid #121212;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.viwe_more_container .category_container .Mybrands .brands .mybrands_container .brands_name {
  margin-left: 18px;
}
.viwe_more_container .category_container .Mybrands .brands_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #269DF2;
  text-decoration: none;
  margin-top: 18px;
}
.viwe_more_container .category_container .Myprice {
  margin-top: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}
.viwe_more_container .category_container .Myprice .Myprice_title {
  margin-bottom: 33px;
}
.viwe_more_container .category_container .Myprice .brands_price_box .range_box {
  margin-top: 12px;
}
.viwe_more_container .category_container .Myprice .brands_price_box .range_box .inp_range {
  width: 177px;
  cursor: pointer;
}
.viwe_more_container .category_container .Myprice .brands_price_box .range_box .range_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #F6F6F6;
  width: 60px;
  height: 34px;
  background-color: #269DF2;
  border-radius: 8px;
  border: none;
  margin-left: 28px;
}
.viwe_more_container .category_container .Myprice .brands_price_box .brands_price .number_filter {
  width: 78px;
  margin-left: 18px;
  margin-right: 18px;
  border: 1px solid #121212;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #BEBEBE;
}
.viwe_more_container .category_container .Myprice .brands_price_box .brands_price2 .number_filter2 {
  width: 78px;
  margin-left: 18px;
  border: 1px solid #121212;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #BEBEBE;
}
.viwe_more_container .category_container .rating_box {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  margin-top: 68px;
}
.viwe_more_container .product_viwe {
  width: 75%;
  margin-left: 68px;
  margin-bottom: 213px;
}
.viwe_more_container .product_viwe .product_border {
  display: flex;
  margin-bottom: 68px;
}
.viwe_more_container .product_viwe .product_border .viwe_title {
  margin-top: 24px;
  margin-left: 28px;
  width: 242px;
  height: 48px;
}
.viwe_more_container .product_viwe .product_border .viwe_more_price {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #121212;
}
.viwe_more_container .product_viwe .product_border .seeMore_dtl_btn {
  padding: 8px 12px;
  width: 227px;
  height: 40px;
  background-color: #269DF2;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.viwe_more_container .product_viwe .product_border .add_box {
  margin: auto;
}
.viwe_more_container .product_viwe .viwe_img {
  width: 266px;
  height: 193px;
}

@media (max-width: 1000px) {
  header .nav .nav_inner_container .input_container {
    padding: 15px 0;
  }
  header .nav .nav_inner_container .input_container .input {
    width: 344px;
    height: 34px;
  }
  header .slide {
    width: 388px !important;
  }
  header .slide .carusel_content {
    margin-left: 28px !important;
  }
  header .slide .carusel_content h1 {
    font-size: 17px !important;
  }
  header .slide .laptop_box {
    left: -418px !important;
    top: 85px !important;
  }
  header .slide .laptop_box .laptop {
    width: 150px !important;
    height: 150px !important;
  }
  .category .category_ul {
    display: none;
  }
  .category .category_logo {
    display: block !important;
    margin-top: 40px;
    transition: all 4s ease-in-out;
  }
  .category .category_title {
    display: block !important;
  }
  .product_detal .container .row .col {
    width: 600px;
  }
  .product_detal .container .row .col .detals_img {
    width: 100%;
    height: 300px;
  }
  .product_detal .container .row .coll .bag_box {
    display: block;
  }
  .product_detal .container .row .coll .bag_box .add_bag {
    width: 282px;
    position: absolute;
    right: -29px;
    margin-top: 76px;
  }
  .product_list {
    width: 90%;
    margin: auto !important;
  }
  .product_list .product_detal {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
  }
  .product_list .product_detal .product_img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .order_container .order_box {
    text-align: center;
  }
  .order_container .order_box .head_row .order_col {
    display: block;
    margin-bottom: 350px;
    margin-top: 100px;
  }
  .order_container .order_box .head_row .order_col .order_name {
    margin-top: -238px;
  }
  .order_container .order_box .head_row .order_col .order_img {
    margin: 0;
  }
  .order_container .order_box .head_row .order_col .order_duble {
    margin: auto;
    margin-top: 265px;
  }
  .order_container .order_box .head_row .order_col .order_price {
    margin-top: 50px;
  }
  .viwe_more_container {
    display: block;
  }
  .viwe_more_container .category_container {
    width: 100%;
  }
  .viwe_more_container .category_container .Mybrands {
    padding-left: 20px;
  }
  .viwe_more_container .category_container .Myprice {
    padding-left: 20px;
  }
  .viwe_more_container .category_container .rating_box {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .viwe_more_container .product_viwe {
    margin: auto;
  }
  .viwe_more_container .product_viwe .product_border {
    display: block;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */